<% layout('./layouts/layout') -%>
<main class="container">
  <div class="row">
    <div class="col-md-6">
      <img
        src="<%= product.img %>"
        alt="<%= product.name %>"
        class="full-img"
      />
    </div>
    <div class="col-md-6">
      <h1 class="display-1 mb-2"><%= product.name %></h1>
      <h2 class="display-6 mb-5">฿<%= product.price %></h2>
      <button class="btn btn-dark btn-lg mb-5">Pre-order</button>
      <p class="lead"><%= product.description %></p>
    </div>
  </div>
</main>
