<% layout('./layouts/layout') -%>
<main class="container">
  <%- include('./partials/carousel.ejs') %> 

  <h2 class="mb-4 fs-1">Top Selling</h2>
  <div class="row row-cols-2 row-cols-md-3 g-4">
    <% for(let product of products) { %>
    <div class="col">
      <a href="/products/<%= product._id %> ">
        <div class="card mb-3">
          <img src="<%= product.img %> " class="card-img-top p-2" />
          <div
            class="card-img-overlay mb-5 d-flex justify-content-end flex-column"
          >
            <div class="progress mb-3 shadow" style="height: 8px">
              <div
                class="progress-bar bg-secondary"
                role="progressbar"
                style="width: 25%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
      </a>
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title"><%= product.name %></h5>
          <h5 class="display-6 fs-5">฿<%= product.price %> </h5>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</main>
